/*! CSS Used from: Embedded ; media=screen */
@media screen{
body{background-color:#181a1b;}
body{border-color:#736b5e;color:#e8e6e3;}
a{color:#3391ff;}
::placeholder{color:#b2aba1;}
::selection{background-color:#004daa!important;color:#e8e6e3!important;}
}
/*! CSS Used from: https://patrickcollison.com/static/style.css */
h3 {
  padding-top: 15px;
  font-size: large;
}
body{font-family:Helvetica;font-size:13px;}
#menu{
  float:right;
  margin-top:30px;
  margin-right:20px;
  text-align:right;
  width:150px;
  font-family:"Myriad Pro", "Helvetica Neue", Helvetica;
  font-size: larger;
}
#menu ul{list-style-type:none;margin:0;padding:0;}
#menu li a{display:inline-block;color:#0864c7;}
#left{
  height:1px;
  float:left;
  display:block;
  min-width:0;
  overflow:hidden;
  width:200px;
  margin:0;
  padding:0;
  /* padding-left: 100px;
  margin-left: 20px; */
}
#content{
  margin-top:15px;
  float:left;
  max-width:500px;
  margin-left: 4px;
  margin-right: 4px;
}
#content h3{font-family:"Myriad Pro", "Helvetica Neue", Helvetica;margin:0;}
#content p,#content ul{color:#333;line-height:18px;}
#content p.notop{margin-top:0;}
#content li{margin-bottom:0.7em;}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
#menu li a{color:rgb(87, 175, 248);}
#content p,#content ul{color:rgb(200, 195, 188);}
}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
::placeholder{opacity:0.5!important;}
}