* {
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline:none;
  }

mark.blue {
  
}

h3 {
  text-align: start;
}
ul {
  margin: 0;
  padding-left: 10px;
}
li {
  text-align: start;

}

h4 {
  text-align: start;
  margin-bottom: 5px;
}

#profile-image {
  clip-path: circle();
  margin: auto;
}

body {
  background-color: rgb(75, 46, 46);
  padding: 5px;
}

#app {
    max-width: 850px;
    width: 97%;
    margin: auto;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
}

#header {
  padding: 20px;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
    
  }

#content {
  padding: 5%;
  padding-top: 10px;
  padding-bottom: 30px;
  /* margin:  clamp(2px, 3%, 50%); */
  /* margin: max(10px, 8%); */
  margin: auto;
  /* margin: 0; */
  /* margin: 10px; */
  margin-bottom: 50px;
  border: 7px solid rgb(75, 46, 46);
  background-color: rgb(39, 39, 39);
  text-align: left;
  border-radius: 10px;
  width: 75%;
}

#footer {
  margin: 30px;
}

#connect {
  margin: 20px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: auto;
  max-width: 90%;
  border: 7px solid rgb(75, 46, 46);
  background-color: rgb(39, 39, 39);
  border-radius: 10px;

}

#connect-buttons {
  margin: auto;
  margin-left: 0px;
}

#connect-buttons a {
  padding: 20px 0;
  padding-bottom: 20px;
  width: 88px;
  height: 110px;
  vertical-align: top;
  display: inline-block;
  color: white;
  transition: width 2s, height 2s, transform 2s background-color 2s ease-in-out;
  transition-duration: 0.5s;
}

.connect-description {
  margin-top: 20px;
}

#connect-buttons a:hover {
  background-color: rgb(88, 41, 41);
  width: 95px;
  /*
  transform: rotate(360deg);
  */
}

.social-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#pics {
  margin: 50px auto;
  margin-bottom: 0;
  padding: 10px;
}

.collage {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.collage img {
  max-width: 300px;
  height: auto;
  margin-top: 10px;
}

.column {
  flex: 50%;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
}